.upperlink  { font-size:13pt;  }
.titlelabel { font: bold 14pt/14pt Calibri;  }
.filebody   { font-family:Verdana;  }
.partners   { font-size:10pt;  }
.companynameheader { font: bold 20px/20px Consolas; }